<IfModule mod_rewrite.c>
    RewriteEngine On
	RewriteCond %{HTTP_HOST} ^domain\.com [NC]
	RewriteRule ^(.*)$ http://www.siirbahcem.com/$1 [L,R=301]
        RewriteRule ^(.*)$ public/$1 [L]
</IfModule>