/*APP CUSTOM CSS FILE*/

@import "normalize.css";

/*MARGIN*/

body{
  margin: 0px;
  padding: 0px;
  background-color: #dddddd80;
  font-family: 'Roboto', sans-serif;
}

.m-none{margin: 0px !important;}

.m-0{margin: 0px !important;}
.m-5{margin: 5px !important;}
.m-10{margin: 10px !important;}
.m-15{margin: 15px !important;}
.m-20{margin: 20px !important;}
.m-40{margin: 40px !important;}

.mt-0{margin-top: 0px !important;}
.mt-5{margin-top: 5px !important;}
.mt-10{margin-top: 10px !important;}
.mt-15{margin-top: 15px !important;}
.mt-20{margin-top: 20px !important;}
.mt-40{margin-top: 40px !important;}

.mr-0{margin-right: 0px !important;}
.mr-5{margin-right: 5px !important;}
.mr-10{margin-right: 10px !important;}
.mr-15{margin-right: 15px !important;}
.mr-20{margin-right: 20px !important;}
.mr-40{margin-right: 40px !important;}

.mb-0{margin-bottom: 0px !important;}
.mb-5{margin-bottom: 5px !important;}
.mb-10{margin-bottom: 10px !important;}
.mb-15{margin-bottom: 15px !important;}
.mb-20{margin-bottom: 20px !important;}
.mb-40{margin-bottom: 40px !important;}

.ml-0{margin-left: 0px !important;}
.ml-5{margin-left: 5px !important;}
.ml-10{margin-left: 10px !important;}
.ml-15{margin-left: 15px !important;}
.ml-20{margin-left: 20px !important;}
.ml-40{margin-left: 40px !important;}

/*PADDING*/

.p-none{padding: 0px !important;}

.p-0{padding: 0px !important;}
.p-5{padding: 5px !important;}
.p-10{padding: 10px !important;}
.p-15{padding: 15px !important;}
.p-20{padding: 20px !important;}
.p-40{padding: 40px !important;}

.pt-0{padding-top: 0px !important;}
.pt-5{padding-top: 5px !important;}
.pt-10{padding-top: 10px !important;}
.pt-15{padding-top: 15px !important;}
.pt-20{padding-top: 20px !important;}
.pt-40{padding-top: 40px !important;}

.pr-0{padding-right: 0px !important;}
.pr-5{padding-right: 5px !important;}
.pr-10{padding-right: 10px !important;}
.pr-15{padding-right: 15px !important;}
.pr-20{padding-right: 20px !important;}
.pr-40{padding-right: 40px !important;}

.pb-0{padding-bottom: 0px !important;}
.pb-5{padding-bottom: 5px !important;}
.pb-10{padding-bottom: 10px !important;}
.pb-15{padding-bottom: 15px !important;}
.pb-20{padding-bottom: 20px !important;}
.pb-40{padding-bottom: 40px !important;}

.pl-0{padding-left: 0px !important;}
.pl-5{padding-left: 5px !important;}
.pl-10{padding-left: 10px !important;}
.pl-15{padding-left: 15px !important;}
.pl-20{padding-left: 20px !important;}
.pl-40{padding-left: 40px !important;}

.left{
  text-align: left !important;
}
.d-center{
  vertical-align: middle !important;
}
.center{
  text-align: center !important;
}
.right{
  text-align: right !important;
}

.hidden{
  display: none;
}

.nav-bg{
  background-color: #489df2;
}

.nav-bg > a, .nav-li > a{
  color:#fff;
}

.nav-li:hover > a{
  color:#000;
}

.nav-btn{
  border-color: #fff;
  color:#fff;
}

.nav-src{
  position: absolute;
  right: 20px
}

.cont{
  height: auto;
  margin-top: 70px;
  max-width:1800px;
}

#left-cont{
  margin-bottom: 10px;
  word-wrap: break-word;
}

#left-cont .list-group .list-group-item span{
  position: absolute;
  right: 10px;
}

#left-cont .category-title{
  background:#489df2;
  color:#fff;
  text-align: center;
}

#left-cont .active-li{
  background:#ff7979;
}


#center-cont{
  height:auto;
  word-wrap: break-word;
  position: relative;
}

#center-cont .center-cont-item{
  background:#fff;
}

#right-cont{
  height:auto;
  word-wrap: break-word;
}

.comment-item-cont{
  background-color: #eee;
  padding:10px;
  border-radius: 5px
}

.ok{
  border-bottom: 15px solid transparent;
  border-right: 15px solid #eee;
  border-top: 15px solid transparent;
  height: 0;
  left: -15px;
  position: absolute;
  top: 28px;
  width: 0;
}

.logo-img{
  width:100%;
  height:100%;
}

.logo-img-frontend{
  width:200px;
  height:45px;
}

.pagination-align > ul{
  float: right;
}

.footer{
  background-color: #489df2;
  height: 40px;
  padding-left: 10px;
}

  .footer span{
    line-height: 40px;
    font-size: 15px;

  }
  .footer a{
    color:#fff;
    text-decoration: none;
    font-size:15px;
  }

  .footer a:hover{
    color:#bbb;
  }

@media (min-width:0px) and (max-width:544px){

  body{
    margin: 0px;
    padding: 0px;
    background-color: #dddddd80;
    font-family: 'Roboto', sans-serif;
  }

  .nav-src{
    position: relative;
    left: 5px;
  }

  .center-cont-item .center-cont-item-spn{
    text-align: center !important;
    overflow: hidden;
  }

  .center-cont-item .center-cont-item-p{
    text-align: left !important;
    font-size: 14px;
  }

  .center-cont-item .center-cont-item-btn{
    text-align: center !important;
    margin-top: 10px;
  }
}
